<!DOCTYPE html>
<html>
<head>
  <title>Login with XING plugin Example</title>
  <meta charset="UTF-8">
  <script   src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
  <script>
    // This function is called by the plugin after
    // the login flow is completed.
    var user = null;
    function onXingAuthLogin(response) {
      var output;

      console.log(response);

      if (response.user) {
        output = 'Successful login for ' + response.user.display_name;
        user = response.user;
        $('#userimg').attr("src", response.user.photo_urls.maxi_thumb);
      } else if (response.error) {
        window.location ="http://founderflats.sytes.net/"
      }

      document.getElementById('output').innerHTML = output;
    }
  </script>
</head>
<body>
  <img id="userimg" width="70" height="93" src="" style="background-color: #212121;"></img>
  <br />
  <!-- Place the plugin script -->
  <div id="fu">
    <script type="xing/login">
    {
      "consumer_key": "fa4e8d203ec01ed033c0"
    }
    </script>
  </div>

  <p id="output">No user logged in.</p>

  <!-- Include the plugin library -->
  <script>(function(d) {
  var js, id='lwx';
  if (d.getElementById(id)) return;
  js = d.createElement('script'); js.id = id; js.src = "https://www.xing-share.com/plugins/login.js";
  d.getElementsByTagName('head')[0].appendChild(js)
}(document));</script>

</body>
</html>
