<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CREATE OFFER</title>
  </head>
  <body>
  	 <form action="/create" method=POST>
	  Adresse:<br>
	  <input type="text" name="address" value=""><br>
	  Monatl. Kosten:<br>
	  <input type="text" name="monthly_cost" value=""><br><br>
	  Einmalige Kosten:<br>
	  <input type="text" name="single_cost" value=""><br>
	  Titel:<br>
	  <input type="text" name="title" value=""><br><br>
	  Beschreibung:<br>
	  <input type="text" name="description" value=""><br>
	  Wir bieten:<br>
	  <input type="text" name="we_offer" value=""><br><br>
	  Wir suchen:<br>
	  <input type="text" name="we_need" value=""><br>
	  Größe:<br>
	  <input type="text" name="size" value=""><br><br>
	  Von:<br>
	  <input type="text" name="from" value=""><br>
	  Bis:<br>
	  <input type="text" name="to" value=""><br><br>
	  <input type="submit" value="Submit">
	</form>
  </body>
</html>
