
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='media/favicon.ico') }}">

    <title>FounderFlats</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">FounderFlats</a>
          <span class="brand-info">LEARN CONNECT LIVE</span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Start</a></li>
            <li class="active"><a href="/offers">Angebote</a></li>
            <li><a href="/requests">Gesuche</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="container-fluid contentsite">
      <!-- Example row of columns -->
      <div class="row ff-maprow">
        <div class="ff-maprow-content">
          <div class="row">
            <div class="col-xs-12 col-md-7 ff-map" id="googleMap"></div>
            <div class="ff-list col-xs-12 col-md-5 ff-map-list">
              <div class="header">
                Angebote
              </div>
              <div class="reallist" id="entrylist">

                <div class="entry" id="entry-A">
                  <div class="number">A</div>
                  <div class="title">The next Facebook - with you</div>
                  <div class="cat-groups">
                    <div class="categories">
                      <span>hat:</span>
                      <p class="cat-it">2</p>
                      <p class="cat-design">1</p>
                      <p class="cat-law">1</p>
                      <p class="cat-mgmt">1</p>
                      <p class="cat-none">1</p>
                    </div>
                    <div class="categories">
                      <span>sucht:</span>
                      <p class="cat-it">&nbsp;</p>
                      <p class="cat-design">&nbsp;</p>
                      <p class="cat-law">&nbsp;</p>
                      <p class="cat-mgmt">&nbsp;</p>
                      <p class="cat-none">&nbsp;</p>
                    </div>
                  </div>
                  <div class="timespan">
                    01.05.2016 - 30.06.2016
                  </div>
                  <div class="info">
                    <span>Musterstr. 25, 68199 Mannheim</span> &bull;
                    <span>Zimmergröße: 18m²</span> &bull;
                    <span>Warmmiete: €240</span>
                  </div>
                </div>

                <div class="entry" id="entry-B">
                  <div class="number">B</div>
                  <div class="title">Come code with us</div>
                  <div class="cat-groups">
                    <div class="categories">
                      <span>hat:</span>
                      <p class="cat-it">3</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-none">1</p>
                    </div>
                    <div class="categories">
                      <span>sucht:</span>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-design">&nbsp;</p>
                      <p class="cat-law">&nbsp;</p>
                      <p class="cat-mgmt">&nbsp;</p>
                      <p class="cat-none">&nbsp;</p>
                    </div>
                  </div>
                  <div class="timespan">
                    01.05.2016 - 30.06.2016
                  </div>
                  <div class="info">
                    <span>Musterstr. 25, 68199 Mannheim</span> &bull;
                    <span>Zimmergröße: 18m²</span> &bull;
                    <span>Warmmiete: €240</span>
                  </div>
                </div>

                <div class="entry" id="entry-B">
                  <div class="number">B</div>
                  <div class="title">Come code with us</div>
                  <div class="cat-groups">
                    <div class="categories">
                      <span>hat:</span>
                      <p class="cat-it">3</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-none">1</p>
                    </div>
                    <div class="categories">
                      <span>sucht:</span>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-design">&nbsp;</p>
                      <p class="cat-law">&nbsp;</p>
                      <p class="cat-mgmt">&nbsp;</p>
                      <p class="cat-none">&nbsp;</p>
                    </div>
                  </div>
                  <div class="timespan">
                    01.05.2016 - 30.06.2016
                  </div>
                  <div class="info">
                    <span>Musterstr. 25, 68199 Mannheim</span> &bull;
                    <span>Zimmergröße: 18m²</span> &bull;
                    <span>Warmmiete: €240</span>
                  </div>
                </div>

                <div class="entry" id="entry-B">
                  <div class="number">B</div>
                  <div class="title">Come code with us</div>
                  <div class="cat-groups">
                    <div class="categories">
                      <span>hat:</span>
                      <p class="cat-it">3</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-none">1</p>
                    </div>
                    <div class="categories">
                      <span>sucht:</span>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-design">&nbsp;</p>
                      <p class="cat-law">&nbsp;</p>
                      <p class="cat-mgmt">&nbsp;</p>
                      <p class="cat-none">&nbsp;</p>
                    </div>
                  </div>
                  <div class="timespan">
                    01.05.2016 - 30.06.2016
                  </div>
                  <div class="info">
                    <span>Musterstr. 25, 68199 Mannheim</span> &bull;
                    <span>Zimmergröße: 18m²</span> &bull;
                    <span>Warmmiete: €240</span>
                  </div>
                </div>

                <div class="entry" id="entry-B">
                  <div class="number">B</div>
                  <div class="title">Come code with us</div>
                  <div class="cat-groups">
                    <div class="categories">
                      <span>hat:</span>
                      <p class="cat-it">3</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-none">1</p>
                    </div>
                    <div class="categories">
                      <span>sucht:</span>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-design">&nbsp;</p>
                      <p class="cat-law">&nbsp;</p>
                      <p class="cat-mgmt">&nbsp;</p>
                      <p class="cat-none">&nbsp;</p>
                    </div>
                  </div>
                  <div class="timespan">
                    01.05.2016 - 30.06.2016
                  </div>
                  <div class="info">
                    <span>Musterstr. 25, 68199 Mannheim</span> &bull;
                    <span>Zimmergröße: 18m²</span> &bull;
                    <span>Warmmiete: €240</span>
                  </div>
                </div>

                <div class="entry" id="entry-B">
                  <div class="number">B</div>
                  <div class="title">Come code with us</div>
                  <div class="cat-groups">
                    <div class="categories">
                      <span>hat:</span>
                      <p class="cat-it">3</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-none">1</p>
                    </div>
                    <div class="categories">
                      <span>sucht:</span>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-design">&nbsp;</p>
                      <p class="cat-law">&nbsp;</p>
                      <p class="cat-mgmt">&nbsp;</p>
                      <p class="cat-none">&nbsp;</p>
                    </div>
                  </div>
                  <div class="timespan">
                    01.05.2016 - 30.06.2016
                  </div>
                  <div class="info">
                    <span>Musterstr. 25, 68199 Mannheim</span> &bull;
                    <span>Zimmergröße: 18m²</span> &bull;
                    <span>Warmmiete: €240</span>
                  </div>
                </div>

                <div class="entry" id="entry-B">
                  <div class="number">B</div>
                  <div class="title">Come code with us</div>
                  <div class="cat-groups">
                    <div class="categories">
                      <span>hat:</span>
                      <p class="cat-it">3</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-none">1</p>
                    </div>
                    <div class="categories">
                      <span>sucht:</span>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-design">&nbsp;</p>
                      <p class="cat-law">&nbsp;</p>
                      <p class="cat-mgmt">&nbsp;</p>
                      <p class="cat-none">&nbsp;</p>
                    </div>
                  </div>
                  <div class="timespan">
                    01.05.2016 - 30.06.2016
                  </div>
                  <div class="info">
                    <span>Musterstr. 25, 68199 Mannheim</span> &bull;
                    <span>Zimmergröße: 18m²</span> &bull;
                    <span>Warmmiete: €240</span>
                  </div>
                </div>

                <div class="entry" id="entry-B">
                  <div class="number">B</div>
                  <div class="title">Come code with us</div>
                  <div class="cat-groups">
                    <div class="categories">
                      <span>hat:</span>
                      <p class="cat-it">3</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-none">1</p>
                    </div>
                    <div class="categories">
                      <span>sucht:</span>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-design">&nbsp;</p>
                      <p class="cat-law">&nbsp;</p>
                      <p class="cat-mgmt">&nbsp;</p>
                      <p class="cat-none">&nbsp;</p>
                    </div>
                  </div>
                  <div class="timespan">
                    01.05.2016 - 30.06.2016
                  </div>
                  <div class="info">
                    <span>Musterstr. 25, 68199 Mannheim</span> &bull;
                    <span>Zimmergröße: 18m²</span> &bull;
                    <span>Warmmiete: €240</span>
                  </div>
                </div>

                <div class="entry" id="entry-B">
                  <div class="number">B</div>
                  <div class="title">Come code with us</div>
                  <div class="cat-groups">
                    <div class="categories">
                      <span>hat:</span>
                      <p class="cat-it">3</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-none">1</p>
                    </div>
                    <div class="categories">
                      <span>sucht:</span>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-design">&nbsp;</p>
                      <p class="cat-law">&nbsp;</p>
                      <p class="cat-mgmt">&nbsp;</p>
                      <p class="cat-none">&nbsp;</p>
                    </div>
                  </div>
                  <div class="timespan">
                    01.05.2016 - 30.06.2016
                  </div>
                  <div class="info">
                    <span>Musterstr. 25, 68199 Mannheim</span> &bull;
                    <span>Zimmergröße: 18m²</span> &bull;
                    <span>Warmmiete: €240</span>
                  </div>
                </div>

                <div class="entry" id="entry-B">
                  <div class="number">B</div>
                  <div class="title">Come code with us</div>
                  <div class="cat-groups">
                    <div class="categories">
                      <span>hat:</span>
                      <p class="cat-it">3</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-none">1</p>
                    </div>
                    <div class="categories">
                      <span>sucht:</span>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-design">&nbsp;</p>
                      <p class="cat-law">&nbsp;</p>
                      <p class="cat-mgmt">&nbsp;</p>
                      <p class="cat-none">&nbsp;</p>
                    </div>
                  </div>
                  <div class="timespan">
                    01.05.2016 - 30.06.2016
                  </div>
                  <div class="info">
                    <span>Musterstr. 25, 68199 Mannheim</span> &bull;
                    <span>Zimmergröße: 18m²</span> &bull;
                    <span>Warmmiete: €240</span>
                  </div>
                </div>

                <div class="entry" id="entry-B">
                  <div class="number">B</div>
                  <div class="title">Come code with us</div>
                  <div class="cat-groups">
                    <div class="categories">
                      <span>hat:</span>
                      <p class="cat-it">3</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-none">1</p>
                    </div>
                    <div class="categories">
                      <span>sucht:</span>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-design">&nbsp;</p>
                      <p class="cat-law">&nbsp;</p>
                      <p class="cat-mgmt">&nbsp;</p>
                      <p class="cat-none">&nbsp;</p>
                    </div>
                  </div>
                  <div class="timespan">
                    01.05.2016 - 30.06.2016
                  </div>
                  <div class="info">
                    <span>Musterstr. 25, 68199 Mannheim</span> &bull;
                    <span>Zimmergröße: 18m²</span> &bull;
                    <span>Warmmiete: €240</span>
                  </div>
                </div>

                <div class="entry" id="entry-B">
                  <div class="number">B</div>
                  <div class="title">Come code with us</div>
                  <div class="cat-groups">
                    <div class="categories">
                      <span>hat:</span>
                      <p class="cat-it">3</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-none">1</p>
                    </div>
                    <div class="categories">
                      <span>sucht:</span>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-design">&nbsp;</p>
                      <p class="cat-law">&nbsp;</p>
                      <p class="cat-mgmt">&nbsp;</p>
                      <p class="cat-none">&nbsp;</p>
                    </div>
                  </div>
                  <div class="timespan">
                    01.05.2016 - 30.06.2016
                  </div>
                  <div class="info">
                    <span>Musterstr. 25, 68199 Mannheim</span> &bull;
                    <span>Zimmergröße: 18m²</span> &bull;
                    <span>Warmmiete: €240</span>
                  </div>
                </div>

                <div class="entry" id="entry-B">
                  <div class="number">B</div>
                  <div class="title">Come code with us</div>
                  <div class="cat-groups">
                    <div class="categories">
                      <span>hat:</span>
                      <p class="cat-it">3</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-none">1</p>
                    </div>
                    <div class="categories">
                      <span>sucht:</span>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-design">&nbsp;</p>
                      <p class="cat-law">&nbsp;</p>
                      <p class="cat-mgmt">&nbsp;</p>
                      <p class="cat-none">&nbsp;</p>
                    </div>
                  </div>
                  <div class="timespan">
                    01.05.2016 - 30.06.2016
                  </div>
                  <div class="info">
                    <span>Musterstr. 25, 68199 Mannheim</span> &bull;
                    <span>Zimmergröße: 18m²</span> &bull;
                    <span>Warmmiete: €240</span>
                  </div>
                </div>

                <div class="entry" id="entry-B">
                  <div class="number">B</div>
                  <div class="title">Come code with us</div>
                  <div class="cat-groups">
                    <div class="categories">
                      <span>hat:</span>
                      <p class="cat-it">3</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-none">1</p>
                    </div>
                    <div class="categories">
                      <span>sucht:</span>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-design">&nbsp;</p>
                      <p class="cat-law">&nbsp;</p>
                      <p class="cat-mgmt">&nbsp;</p>
                      <p class="cat-none">&nbsp;</p>
                    </div>
                  </div>
                  <div class="timespan">
                    01.05.2016 - 30.06.2016
                  </div>
                  <div class="info">
                    <span>Musterstr. 25, 68199 Mannheim</span> &bull;
                    <span>Zimmergröße: 18m²</span> &bull;
                    <span>Warmmiete: €240</span>
                  </div>
                </div>

                <div class="entry" id="entry-B">
                  <div class="number">B</div>
                  <div class="title">Come code with us</div>
                  <div class="cat-groups">
                    <div class="categories">
                      <span>hat:</span>
                      <p class="cat-it">3</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-none">1</p>
                    </div>
                    <div class="categories">
                      <span>sucht:</span>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-design">&nbsp;</p>
                      <p class="cat-law">&nbsp;</p>
                      <p class="cat-mgmt">&nbsp;</p>
                      <p class="cat-none">&nbsp;</p>
                    </div>
                  </div>
                  <div class="timespan">
                    01.05.2016 - 30.06.2016
                  </div>
                  <div class="info">
                    <span>Musterstr. 25, 68199 Mannheim</span> &bull;
                    <span>Zimmergröße: 18m²</span> &bull;
                    <span>Warmmiete: €240</span>
                  </div>
                </div>

                <div class="entry" id="entry-B">
                  <div class="number">B</div>
                  <div class="title">Come code with us</div>
                  <div class="cat-groups">
                    <div class="categories">
                      <span>hat:</span>
                      <p class="cat-it">3</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-none">1</p>
                    </div>
                    <div class="categories">
                      <span>sucht:</span>
                      <p class="cat-invis">&nbsp;</p>
                      <p class="cat-design">&nbsp;</p>
                      <p class="cat-law">&nbsp;</p>
                      <p class="cat-mgmt">&nbsp;</p>
                      <p class="cat-none">&nbsp;</p>
                    </div>
                  </div>
                  <div class="timespan">
                    01.05.2016 - 30.06.2016
                  </div>
                  <div class="info">
                    <span>Musterstr. 25, 68199 Mannheim</span> &bull;
                    <span>Zimmergröße: 18m²</span> &bull;
                    <span>Warmmiete: €240</span>
                  </div>
                </div>

              </div>
              </div>
            </div>
          </div>
        </div>

      <!-- Example row of columns -->

      <hr>

      <footer>
        <p>&copy; 2016 FounderFlats</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqLWZNP0JIVI12zty6460l19SpV-sLgfg&callback=initMap" async defer></script>

    <script src="{{ url_for('static', filename='js/offer.js') }}"></script>
  </body>
</html>
