
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='media/favicon/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='media/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='media/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='media/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='media/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='media/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='media/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='media/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='media/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='media/favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='media/favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='media/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='media/favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='media/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='media/favicon/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">

    <title>FounderFlats</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
      var todo_markers = [];
    </script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">FounderFlats</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/offers">Offers</a></li>
            <li><a href="/createoffer">Create Offer</a></li>
            <li><a href="/requests">Requests</a></li>
            <li><a href="/createrequest">Create Request</a></li>
            <li><a href="/profile">Profile</a></li>
            {% if loggedin %} <li><a href="/logout">Logout</a></li> {% else %} <li><a href="/login">Login</a></li> {% endif %}
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="container-fluid contentsite">
      <!-- Example row of columns -->
      <div class="row ff-maprow">
        <div class="ff-maprow-content">
          <div class="row">
            <div class="col-xs-12 col-md-7 ff-map" id="googleMap"></div>
            <div class="ff-list col-xs-12 col-md-5 ff-map-list">
              <div class="header">
                <div class="title">Filter Offers</div>
                <form action="/offers" method="POST">

                  <div class="row">

                    <div class="col-xs-6">
                      <div class="form-group">
                      <div>
                        <span>I want: </span>
                        <div class="ff-checkbox ff-checkbox-toggle">
                          <input type="hidden" name="search_it" value="{% if formdata and formdata['search_it']!='0'%}1{%else%}0{%endif%}">
                          <div class="state">{% if formdata and formdata['search_it']!='0'%}✔{%else%}✘{%endif%}</div>
                          <div class="desc cat-it">IT</div>
                        </div>

                        <div class="ff-checkbox ff-checkbox-toggle">
                          <input type="hidden" name="search_design" value="{% if formdata and formdata['search_design']!='0'%}1{%else%}0{%endif%}">
                          <div class="state">{% if formdata and formdata['search_design']!='0'%}✔{%else%}✘{%endif%}</div>
                          <div class="desc cat-design">Design</div>
                        </div>

                        <div class="ff-checkbox ff-checkbox-toggle">
                          <input type="hidden" name="search_law" value="{% if formdata and formdata['search_law']!='0'%}1{%else%}0{%endif%}">
                          <div class="state">{% if formdata and formdata['search_law']!='0'%}✔{%else%}✘{%endif%}</div>
                          <div class="desc cat-law">Law</div>
                        </div>

                        <div class="ff-checkbox ff-checkbox-toggle">
                          <input type="hidden" name="search_mgmt" value="{% if formdata and formdata['search_mgmt']!='0'%}1{%else%}0{%endif%}">
                          <div class="state">{% if formdata and formdata['search_mgmt']!='0'%}✔{%else%}✘{%endif%}</div>
                          <div class="desc cat-mgmt">Mgmt</div>
                        </div>

                      </div>
                    </div>
                  </div>

                    <div class="col-xs-6">
                      <div class="form-group">
                      <div>
                        <span>I got: </span>
                        <div class="ff-checkbox ff-checkbox-toggle">
                          <input type="hidden" name="offer_it" value="{% if (formdata and formdata['offer_it']!='0') or (not formdata and profile and profile['categories']['1'] != '0' )%}1{%else%}0{%endif%}">
                          <div class="state">{%  if (formdata and formdata['offer_it']!='0') or (not formdata and profile and profile['categories']['1']!= '0' )%}✔{%else%}✘{%endif%}</div>
                          <div class="desc cat-it">IT</div>
                        </div>

                        <div class="ff-checkbox ff-checkbox-toggle">
                          <input type="hidden" name="offer_design" value="{% if (formdata and formdata['offer_design']!='0') or (not formdata and profile and profile['categories']['2'] != '0' )%}1{%else%}0{%endif%}">
                          <div class="state">{% if (formdata and formdata['offer_design']!='0') or (not formdata and profile and profile['categories']['2'] != '0' )%}✔{%else%}✘{%endif%}</div>
                          <div class="desc cat-design">Design</div>
                        </div>

                        <div class="ff-checkbox ff-checkbox-toggle">
                          <input type="hidden" name="offer_law" value="{% if (formdata and formdata['offer_law']!='0') or (not formdata and profile and profile['categories']['3'] != '0' )%}1{%else%}0{%endif%}">
                          <div class="state">{% if (formdata and formdata['offer_law']!='0') or (not formdata and profile and profile['categories']['3'] != '0' )%}✔{%else%}✘{%endif%}</div>
                          <div class="desc cat-law">Law</div>
                        </div>

                        <div class="ff-checkbox ff-checkbox-toggle">
                          <input type="hidden" name="offer_mgmt" value="{% if (formdata and formdata['offer_mgmt']!='0') or (not formdata and profile and profile['categories']['4'] != '0' )%}1{%else%}0{%endif%}">
                          <div class="state">{% if (formdata and formdata['offer_mgmt']!='0') or (not formdata and profile and profile['categories']['4'] != '0' )%}✔{%else%}✘{%endif%}</div>
                          <div class="desc cat-mgmt">Mgmt</div>
                        </div>

                      </div>
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="input-group">
                        <div class="input-group-addon">€</div>
                        <input type="number" min="0" max="99999" class="form-control" id="form-single" placeholder="Maximum Monthly costs" name="monthly_cost" {% if formdata and formdata['monthly_cost']!=''%} value="{{formdata['monthly_cost']}}"{%endif%}>
                        <div class="input-group-addon">.00</div>
                      </div>
                    </div>

                    <div class="col-xs-6">
                      <div class="input-group">
                        <input type="number" min="0" max="99999" class="form-control" id="form-size" placeholder="Minimum Room size" name="size" {% if formdata and formdata['size']!=''%} value="{{formdata['size']}}"{%endif%}>
                        <div class="input-group-addon">m²</div>
                      </div>
                    </div>
                  </div>

                  <div class="submit">
                    <a class="btn btn-warning" href="/offers">Reset filters</a>
                    <button type="submit" class="btn btn-success">Filter the offers</button>
                  </div>
                </form>
              </div>
              <div class="reallist" id="entrylist">

              {% for key, value in offers.iteritems() %}

                <a class="entry" href="/offers/{{value['offer_id']}}">
                  <div class="number"></div>
                  <div class="title">{{ value['title'] }}</div>
                  <div class="cat-groups">
                    <div class="categories">
                      <span>has:</span>
                      {% if value['we_offer']['1'] != '0' %} <p class="cat-it">{{ value['we_offer']['1'] }}</p> {% else %} <p class="cat-invis">&nbsp;</p> {% endif %}
                      {% if value['we_offer']['2'] != '0' %} <p class="cat-design">{{ value['we_offer']['2'] }}</p> {% else %} <p class="cat-invis">&nbsp;</p> {% endif %}
                      {% if value['we_offer']['3'] != '0' %} <p class="cat-law">{{ value['we_offer']['3'] }}</p> {% else %} <p class="cat-invis">&nbsp;</p> {% endif %}
                      {% if value['we_offer']['4'] != '0' %} <p class="cat-mgmt">{{ value['we_offer']['4'] }}</p> {% else %} <p class="cat-invis">&nbsp;</p> {% endif %}
                      {% if value['we_offer']['5'] != '0' %} <p class="cat-none">{{ value['we_offer']['5'] }}</p> {% else %} <p class="cat-invis">&nbsp;</p> {% endif %}
                    </div>
                    <div class="categories">
                      <span>wants:</span>
                      {% if value['we_need']['1'] != '0' %} <p class="cat-it">&nbsp;</p> {% else %} <p class="cat-invis">&nbsp;</p> {% endif %}
                      {% if value['we_need']['2'] != '0' %} <p class="cat-design">&nbsp;</p> {% else %} <p class="cat-invis">&nbsp;</p> {% endif %}
                      {% if value['we_need']['3'] != '0' %} <p class="cat-law">&nbsp;</p> {% else %} <p class="cat-invis">&nbsp;</p> {% endif %}
                      {% if value['we_need']['4'] != '0' %} <p class="cat-mgmt">&nbsp;</p> {% else %} <p class="cat-invis">&nbsp;</p> {% endif %}
                      {% if value['we_need']['5'] != '0' %} <p class="cat-none">&nbsp;</p> {% else %} <p class="cat-invis">&nbsp;</p> {% endif %}
                    </div>
                  </div>
                  <div class="timespan">
                    starting 
                    <b>{% if value['from'] %} {{ value['from'] }} {% else %} now {% endif %}</b>
                    up until
                    <b>{% if value['to'] %} {{ value['to'] }} {% else %} unlimited {% endif %}</b>
                  </div>
                  <div class="info">
                    <span>{{ value['address'] }}</span> &bull;
                    <span>room size:&nbsp;{{ value['size'] }}m²</span> &bull;
                    <span>monthly costs:&nbsp;€{{ value['price_monthly'] }}0</span>
                  </div>
                </a>

                <script type="text/javascript">
                  todo_markers.push("{{ value['address'] }}");
                </script>

              {% endfor %}
              </div>
              </div>
            </div>
          </div>
        </div>

    </div>


    <div class="container">
      <hr>

      <footer>
        <p>&copy; 2016 FounderFlats</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>

    <script src="{{ url_for('static', filename='js/offer.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key
=AIzaSyAqLWZNP0JIVI12zty6460l19SpV-sLgfg&callback=initMap" async
defer></script>   </body> </html>
